attrs==25.3.0
babel==2.17.0
bcrypt==4.2.0
blinker==1.9.0
certifi==2025.1.31
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
cryptography==43.0.0
httplib2==0.22.0
idna==3.10
inflect==7.3.1
Jinja2==3.1.6
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.8.0
netaddr==1.3.0
oauthlib==3.2.2
packaging==25.0
passlib==1.7.4
pexpect==4.9.0
pillow==11.3.0
psutil==7.0.0
ptyprocess==0.7.0
pycparser==3.0
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
setproctitle==1.3.6
setuptools==82.0.0
six==1.17.0
typeguard==4.4.2
typing_extensions==4.13.2
uc-micro-py==1.0.3
urllib3==2.3.0
wheel==0.46.1
Django==4.2.7
djangorestframework==3.14.0
python-dotenv==1.0.1
requests==2.32.3
PyJWT==2.10.1
bcrypt==4.2.0
passlib==1.7.4
pillow==11.3.0
gunicorn==21.2.0
